<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CLIENT_ID</key>
	<string>637905690799-9shnm980f8q6vjk9rbq6eih4tfp1l7jg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercounted.apps.637905690799-9shnm980f8q6vjk9rbq6eih4tfp1l7jg</string>
	<key>API_KEY</key>
	<string>AIzaSyBHq2JqvN4wdxOvnPNZCQkdRwh9k9FOeOU</string>
	<key>GCM_SENDER_ID</key>
	<string>834144857877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.applogin</string>
	<key>PROJECT_ID</key>
	<string>applogin-8850f</string>
	<key>STORAGE_BUCKET</key>
	<string>applogin-8850f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:834144857877:ios:d1e76fae492b9b18a9c31c</string>
</dict>
</plist>